body{
    margin: 0;
    padding: 0;
}
.first-section{
    height: 700px;
    width: 100%;
}
.main{
    background-image: url(images/donation1.jpg);
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.main h1{
    margin-top: 140px;
    margin-bottom: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    color: white;
}
.main p{
    height: 50px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-family: 'arima', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: aliceblue;
}
.main button{
    padding: 10px 15px 10px 15px;
    font-family: Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: aliceblue;
    background-color: rgb(240, 151, 119);
    border-radius: 5px 5px 5px 5px;
    border: white;
    margin: auto;
    margin-left: 45%;
    margin-top: 20px;  
}
.second-section{
    height: 600px;
    width: 50%;
    margin: auto;
}
.second h1{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
}
.second p{
    font-size: 20px;
    font-family: 'arima', Times, serif;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.container{
    margin: auto;
    text-align: center;
}
.box{
    margin: 5px;
    height: 80px;
    width: 15%;
    background-color: rgb(249, 248, 248);
    display: inline-block;
    border-radius: 5px;
}
.box h2{
text-align: center;
margin-top: 30px;
}
.container :hover{
    background-color: crimson;
    color: white;
}
.second-section input{
    margin: auto;
    margin-top: 30px;
    margin-left: 66px;
    height: 50px;
    width: 621px;
    text-align: center;
}
.second button{
    padding: 10px 15px 10px 15px;
    font-family: Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: aliceblue;
    background-color: rgb(240, 151, 119);
    border-radius: 5px 5px 5px 5px;
    border: white;
    margin: auto;
    margin-left: 300px;
    margin-top: 20px;
}
.container-2{
    margin: auto;
    width: 80%;
}
.box-2{
    margin: 10px;
    margin-left: 10px;
    height: 250px;
    width: 31%;
    background-color: rgb(249, 248, 248);
    display: inline-block;
    border-radius: 5px;
    background-color: aqua;
}
.box-2 h2{
    padding: 5px;
}
.box-2 p{
    padding: 5px;
}
.last-section{
    height: 400px;
    width: 60%;
    margin: auto;
}
.last-section h1{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.last-section p{
    text-align: center;
    font-size: 20px;
}
.touch{
    height: 200px;
    width: 100%;
    background-color: antiquewhite;
    display: inline-flex;
}
#form_box {
    position: relative;
    height: 35px;
    top: 7px;
    left: 25px; 
}

#subscribe_email {
    border: solid 1px #CCC;
    border-radius: 3px;
    height: 30px;
    width: 250px;
    font-size: 15px;
    color: rgb(73, 54, 54);
}

#subscribe_submit {
    position: relative;
    border: solid 1px rgb(227, 42, 42);
    border-radius: 3px;
    height: 32px;
    width: 115px;
    color: white;
    font-weight: bold;
    background-color: crimson;
}
.tbox{
    margin-top: 40px;
    margin-left: -4px;
}
.tbox #subscribe_email{
    margin: auto;
    margin-left: 170px;
    text-align: center;
    
}
footer{
    background-color: black;
    height: 150px;
    width: 100%;
    margin-top: 20px;
}
footer h1{
    text-align: center;
    color: crimson;
    padding: 5px;
}
footer p{
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}